<div>
  <h3><%= event.title %></h3>
  <!--<%= image_tag "#{event.image}" %> -->
  <%= image_tag "#{event.thumb_image}" %>
  <p><%= event.description %></p>
  <%= "Event took place #{distance_of_time_in_words(event.date)} ago." %>
  <p><%= "Event took place at #{event.location}." %></p>
  <hr>
</div>