<h1>All Events</h1>

<%= render @events %>

<div class="container">
<div class="slider">
    <ul class="slides">
      <li>
        <div class="card horizontal">
      <div class="card-image" id='Image'>

      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col s6">
              <p>asdfas</p>
            </div>
          <div class="col s6">
            <p>Date: </p>
            <p>Time: </p>
          </div>
        </div>
      </div>
        <div class="card-action" id='card-action'>
          <a href="#">View Event</a>
        </div>
      </div>
    </div>
      </li>
      <li>
        <div class="card horizontal">
      <div class="card-image">
        <%= image_tag 'picture2.jpg' %>
      </div>

      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col s6">
              <p>Description</p>
            </div>
          <div class="col s6">
            <p>Date and time</p>
          </div>
        </div>
      </div>
        <div class="card-action" id='card-action'>
          <a href="#">View Event</a>
        </div>
      </div>
    </div>
      </li>
      <li>
        <div class="card horizontal">
      <div class="card-image">
        <%= image_tag 'picture3.jpg' %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col s6">
              <p>Description</p>
            </div>
          <div class="col s6">
            <p>Date and time</p>
          </div>
        </div>
      </div>
        <div class="card-action" id='card-action'>
          <a href="#">View Event</a>
        </div>
      </div>
    </div>
      </li>
      <li>
        <div class="card horizontal">
      <div class="card-image">
        <%= image_tag 'picture4.jpg' %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col s6">
              <p>Description</p>
            </div>
          <div class="col s6">
            <p>Date and time</p>
          </div>
        </div>
      </div>
        <div class="card-action" id='card-action'>
          <a href="#">View Event</a>
        </div>
      </div>
    </div>
      </li>
      <li>
        <div class="card horizontal">
      <div class="card-image">
        <%= image_tag 'picture5.jpg' %>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col s6">
              <p>Description</p>
            </div>
          <div class="col s6">
            <p>Date and time</p>
          </div>
        </div>
      </div>
        <div class="card-action" id='card-action'>
          <%= link_to 'View Event' %>
        </div>
      </div>
    </div>
      </li>
    </ul>
  </div>
</div>