<div class="album text-muted">
  <h1>All Events</h1>
  <div class="row">

    <% @events.each do |event| %>
      <div class="card card-custom">
        <div class="row">

          <div class="col-md-3">
            <%= image_tag "#{event.thumb_image}", width: 100, height: 100 %>            
          </div>

          <div class="col-md-7">
            <h3><%= link_to event.title.titleize, event %><%= event.date %></h3>
            <%= "What: #{truncate(event.body, length: 35)}" %> 
            <br>
            <%= "Where: #{event.location}" %>
          </div>

          <div class="col-md-2">
            <%= render partial: 'buttons', locals: {event: event} %>
          </div>

        </div> <!-- Row -->
      </div> <!-- Card -->
    <% end %>

  </div>
</div>


