<h1>All Events</h1>

<iframe src="https://calendar.google.com/calendar/embed?src=bottega.tech.dummy%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

 <% @events.each do |event| %>
  <div class="album text-muted">
    <div class="container">
      <div class="card">
        <div class="row">
          <div class="col-md-4">
            <div class="column-left">
               <h3 class="event-title"><%= link_to event.title.titleize, event %></h3>
              <%= image_tag "#{event.thumb_image}", width: 300, height: 300 %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="column-right">
              <p><%= event.description %></p>


          
              <p><%= "Event took place at #{event.location}." %></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="column-right">
              <p><%= event.description %></p>
              
              <p><%= "Event took place at #{event.location}." %></p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
<% end %>