<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>
<p>
  <%= image_tag @event.image, width: '100%' %>
</p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<div class="container show-hide-over">
  <div class="card show-wrapper show-hide-over">
    <div class="row show-row show-hide-over">
      <div class="col-md-8 show-top-row">
        <%= image_tag @event.image, class: "event-main-image" %>
        <span class="show-title-span"><%= @event.title %></span>
      </div>
      <div class="col-md-4" id="show-info">
        <p>Date: <%= @event.date %></p>
        <p>Time: 12:00am </p>
        <p>Description: <%= @event.description %></p>
        <p>Location: <%= @event.location %>
        <p>Attendees: dynamic</p>
        <button class></button>
        Are you going?
      </div>

      <div class="col-md-5" id="map">
        <img class="event-map" src="<%= "https://maps.googleapis.com/maps/api/staticmap?center=" + @location + "&zoom=13&scale=1&size=600x400&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C" + @location %>">
      </div>
      <div class="col-md-7" id="guest-form">
        if your a signed in user
          nothing you dont need a form, may want to find filler for this so its not empty with a user

        if your not signed in
          form for guest
        <form action="#" method="post">
          <div class="form-group">
            <input placeholder="Name" rows="15" class="form-control" id="contact-body"></input>
          </div>
          <div class="form-group">
            <input type="email" placeholder="Email" class="form-control"></input>
          </div>
          <div class="form-group contact-btn-wrapper">
            <button type="submit" class="btn btn-primary contact-btn">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
