<div class="container show-hide-over">
  <div class="card show-wrapper show-hide-over">
    <div class="row show-row show-hide-over">
      <div class="col-md-8 show-top-row">
        <%= image_tag @event.image, class: "event-main-image" %>
        <span class="show-title-span"><%= @event.title %></span>
      </div>
      <div class="col-md-4" id="show-info">
        <p>Date: <%= @event.date %></p>
        <p>Description: <%= @event.body %></p>
        <p>Location: <%= @event.location %></p>
        <p>Attendees: dynamic</p>
        <div>
        <button class></button>
        Are you going?
      </div>
      <div>
        <button class></button>
        Favorite this for later
      </div>
        </div>
      <div class="col-md-5" id="map">
        <img class="event-map" src="<%= "https://maps.googleapis.com/maps/api/staticmap?center=" + @location + "&zoom=13&scale=1&size=600x400&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C" + @location %>">
      </div>
        <div class="col-md-5" id="guest-form">
          <form action="#" method="post">
            <div class="form-group">
              <input placeholder="Name" rows="15" class="form-control" id="contact-body"></input>
            </div>
            <div class="form-group">
              <input type="email" placeholder="Email" class="form-control"></input>
            </div>
            <input placeholder="Number of people attending" rows="15" class="form-control" id="contact-body"></input>
            </div>
            <div class="form-group contact-btn-wrapper">
              <button type="submit" class="btn btn-primary contact-btn">Send</button>
            </div> 
        </div>
        <div class="col-md-2" id="guest-form">
          <%= render 'attending_event' %>
        </div>
          </form>
      </div>
    </div>
    <div class="container">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_event_path(@event) %>
        <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Back', events_path %>
      <% else %>
        <%= link_to 'Back', events_path %>
      <% end %>
    </div>
  </div>
</div>
