<div class="container">
      
<div class="row">
  <div class="top-text">
  <h5>Start Coding Today</h5>
  Sign into your account
</div>
  <div class="col s10 offset-s1">
    <div class="col s10 offset-s1">
    <div class="card-sizing">


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <div class="box-text">
          <%= f.label :email %><br />
        </div>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <hr>

        <div class="actions btn-lrg">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      <div class="link-styles">
      <%= render "devise/shared/links" %>
    </div>
      </div>
    </div>
  </div>
  </div>
</div>
