<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Gloria+Hallelujah|Patrick+Hand+SC|Walter+Turncoat" rel="stylesheet">
    <script>$('.carousel.carousel-slider').carousel({fullWidth: true});</script>

    <script>
      $(document).ready(function(){
      $('.slider').slider({
        indicators: true
      });
    });
    </script>
  </head>
  <body>


    <%= render 'shared/application_nav' %>

    <%= render "shared/devise_links" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
